<h1>Editing Item</h1>

<%= render 'form' %>

<%= link_to 'Back', item_path(@item), :class => "btn btn-default" %>

<%= link_to 'Destroy', @item, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-default" %>
