// Place all the styles related to the halls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#logo{
    float: left;
}
#greet_bar{
    float:right;
}
#greet_message{
    float:left;
}
#profile_link{
    float:right;
}