%h1 Welcome to Caldining

%table#caldining
  %thead
    %tr
      %th link_to 'Crossroad', dining_path(menu: "crossroad")
      %th link_to 'Cafe3', dining_path(menu: "cafe3")
      %th link_to 'Foothill', dining_path(menu: "foothill")
      %th link_to 'CKC', dining_path(menu: "CKC")
