%h1 Welcome to Caldining

%h3  <a href="/crossroads" id=crossroads>Crossroads</a>
%h3  <a href="/cafe3" id = "cafe3">Cafe3</a>
%h3  <a href="/foothill" id = "foothill">Foothill</a>
%h3  <a href="/ckc" id = "ckc">CKC</a>


